#Importing Libraries

*   NumPy: Library used for managing lists and arrays.

*   Pandas: Library used for manuplating the data.
*   Matplotlib.pyplot: Library used for visualization.


*   Seaborn: Library used for visualization which is advanced than matplotlib.

In [2]:
#Import libraries

import pandas as pd
import numpy as np
import seaborn as sns

import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
import matplotlib
plt.style.use('ggplot')
from matplotlib.pyplot import figure

%matplotlib inline
matplotlib.rcParams['figure.figsize'] = (12,8)
pd.options.mode.chained_assignment = None

#Importing Data

In [3]:
data2016 = pd.read_csv('/content/All Places Census 2016 Population Estimates.csv')
data2017 = pd.read_csv('/content/All states Census 2017 Population Estimates.csv')
bigCensus = pd.read_csv('/content/Big Game Census data.csv')

#Pre-Processing

In [4]:
data2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19510 entries, 0 to 19509
Data columns (total 12 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Geographic ID                              19510 non-null  object
 1   GEOID 2                                    19510 non-null  int64
 2   Geography, full name (City, State)         19510 non-null  object
 3   April 1, 2010 - Census                     19510 non-null  object
 4   April 1, 2010 - Estimates Base             19510 non-null  int64
 5   Population Estimate (as of July 1) - 2010  19510 non-null  int64
 6   Population Estimate (as of July 1) - 2011  19510 non-null  int64
 7   Population Estimate (as of July 1) - 2012  19510 non-null  int64
 8   Population Estimate (as of July 1) - 2013  19510 non-null  int64
 9   Population Estimate (as of July 1) - 2014  19510 non-null  int64
 10  Population Estimate (as of July 1) - 2015  19510 non-null  int64
 11  Population Estimate (as of July 1) - 2016  19510 non-null  int64
dtypes: int64(9), object(3)
memory usage: 1.8+ MB

In [5]:
data2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 13 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   GEOID                                      52 non-null     object
 1   GEOID2                                     52 non-null     int64
 2   Geography Name                             52 non-null     object
 3   April 1, 2010 - Census                     52 non-null     int64
 4   April 1, 2010 - Estimates Base             52 non-null     int64
 5   Population Estimate (as of July 1) - 2010  52 non-null     int64
 6   Population Estimate (as of July 1) - 2011  52 non-null     int64
 7   Population Estimate (as of July 1) - 2012  52 non-null     int64
 8   Population Estimate (as of July 1) - 2013  52 non-null     int64
 9   Population Estimate (as of July 1) - 2014  52 non-null     int64
 10  Population Estimate (as of July 1) - 2015  52 non-null     int64
 11  Population Estimate (as of July 1) - 2016  52 non-null     int64
 12  Population Estimate (as of July 1) - 2017  52 non-null     int64
dtypes: int64(11), object(2)
memory usage: 5.4+ KB

In [6]:
bigCensus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 24 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   Player Name                                               119 non-null    object
 1   Player Jersey Number                                      118 non-null    object
 2   Player Position                                           118 non-null    object
 3   Player Age                                                118 non-null    float64
 4   Player Weight (lbs.)                                      118 non-null    float64
 5   Years Played                                              118 non-null    object
 6   Player Birthplace (city, town, etc.)                      118 non-null    object
 7   Player Birth State                                        118 non-null    object
 8   Player Birthplace (Combo)                                 118 non-null    object
 9   Player College                                            118 non-null    object
 10  Player Team                                               118 non-null    object
 11  Conference                                                118 non-null    object
 12  2016 Population Estimates (except where otherwise noted)  118 non-null    object
 13  State GEO ID                                              118 non-null    float64
 14  Full GEOID                                                118 non-null    object
 15  Latitude (player birthplace)                              118 non-null    float64
 16  Longitude (player birthplace)                             118 non-null    float64
 17  Number from City                                          118 non-null    float64
 18  Number of Records                                         118 non-null    float64
 19  American FactFinder Link for more Census data points      118 non-null    object
 20  Quickfacts Link                                           118 non-null    object
 21  State Data Link                                           118 non-null    object
 22  Source (Population States 2017)                           118 non-null    object
 23  Birthplace, Population Data Source                        118 non-null    object
dtypes: float64(7), object(17)
memory usage: 22.8+ KB

In [7]:
data2016

,Geographic ID,GEOID 2,"Geography, full name (City, State)","April 1, 2010 - Census","April 1, 2010 - Estimates Base",Population Estimate (as of July 1) - 2010,Population Estimate (as of July 1) - 2011,Population Estimate (as of July 1) - 2012,Population Estimate (as of July 1) - 2013,Population Estimate (as of July 1) - 2014,Population Estimate (as of July 1) - 2015,Population Estimate (as of July 1) - 2016
0,1620000US0100124,100124,"Abbeville city, Alabama",2688,2688,2683,2685,2647,2631,2619,2616,2603
1,1620000US0100460,100460,"Adamsville city, Alabama",4522,4522,4517,4495,4472,4447,4428,4395,4360
2,1620000US0100484,100484,"Addison town, Alabama",758,756,754,753,748,748,747,740,738
3,1620000US0100676,100676,"Akron town, Alabama",356,356,355,345,345,342,337,337,334
4,1620000US0100820,100820,"Alabaster city, Alabama",30352,31066,31176,31362,31663,31960,32167,32751,32948
...,...,...,...,...,...,...,...,...,...,...,...,...
19505,1620000US5681300,5681300,"Wamsutter town, Wyoming",451,451,450,451,461,483,503,494,484
19506,1620000US5683040,5683040,"Wheatland town, Wyoming",3627,3627,3629,3625,3634,3625,3650,3658,3606
19507,1620000US5684925,5684925,"Worland city, Wyoming",5487,5487,5494,5448,5439,5441,5356,5376,5316
19508,1620000US5685015,5685015,"Wright town, Wyoming",1807,1807,1807,1809,1855,1850,1844,1866,1834
19509,1620000US5686665,5686665,"Yoder town, Wyoming",151,151,152,154,155,159,162,162,159

In [8]:
data2017

,GEOID,GEOID2,Geography Name,"April 1, 2010 - Census","April 1, 2010 - Estimates Base",Population Estimate (as of July 1) - 2010,Population Estimate (as of July 1) - 2011,Population Estimate (as of July 1) - 2012,Population Estimate (as of July 1) - 2013,Population Estimate (as of July 1) - 2014,Population Estimate (as of July 1) - 2015,Population Estimate (as of July 1) - 2016,Population Estimate (as of July 1) - 2017
0,0400000US01,1,Alabama,4779736,4780135,4785579,4798649,4813946,4827660,4840037,4850858,4860545,4874747
1,0400000US02,2,Alaska,710231,710249,714015,722259,730825,736760,736759,737979,741522,739795
2,0400000US04,4,Arizona,6392017,6392309,6407002,6465488,6544211,6616124,6706435,6802262,6908642,7016270
3,0400000US05,5,Arkansas,2915918,2916031,2921737,2938640,2949208,2956780,2964800,2975626,2988231,3004279
4,0400000US06,6,California,37253956,37254518,37327690,37672654,38019006,38347383,38701278,39032444,39296476,39536653
5,0400000US08,8,Colorado,5029196,5029325,5048029,5116411,5186330,5262556,5342311,5440445,5530105,5607154
6,0400000US09,9,Connecticut,3574097,3574114,3580171,3591927,3597705,3602470,3600188,3593862,3587685,3588184
7,0400000US10,10,Delaware,897934,897936,899712,907884,916868,925114,934805,944107,952698,961939
8,0400000US11,11,District of Columbia,601723,601766,605040,620336,635630,650114,660797,672736,684336,693972
9,0400000US12,12,Florida,18801310,18804594,18846461,19097369,19341327,19584927,19897747,20268567,20656589,20984400
10,0400000US13,13,Georgia,9687653,9688690,9712696,9810595,9911171,9981773,10083850,10199533,10313620,10429379
11,0400000US15,15,Hawaii,1360301,1360301,1363817,1378323,1392772,1408038,1417710,1426320,1428683,1427538
12,0400000US16,16,Idaho,1567582,1567650,1570912,1583180,1594673,1610187,1630391,1649324,1680026,1716943
13,0400000US17,17,Illinois,12830632,12831565,12841196,12862298,12878494,12890403,12882438,12862051,12835726,12802023
14,0400000US18,18,Indiana,6483802,6484125,6490029,6515358,6535665,6567484,6593182,6610596,6634007,6666818
15,0400000US19,19,Iowa,3046355,3046869,3050223,3063690,3074386,3089876,3105563,3118473,3130869,3145711
16,0400000US20,20,Kansas,2853118,2853130,2858403,2868756,2885316,2892900,2899553,2905789,2907731,2913123
17,0400000US21,21,Kentucky,4339367,4339340,4347948,4368505,4383673,4399121,4410415,4422057,4436113,4454189
18,0400000US22,22,Louisiana,4533372,4533478,4544871,4574388,4602681,4626795,4648797,4671211,4686157,4684333
19,0400000US23,23,Maine,1328361,1328362,1327568,1327968,1328101,1327975,1328903,1327787,1330232,1335907
20,0400000US24,24,Maryland,5773552,5773807,5788099,5843115,5891680,5932654,5970245,6000561,6024752,6052177
21,0400000US25,25,Massachusetts,6547629,6547808,6564943,6612178,6659627,6711138,6757925,6794002,6823721,6859819
22,0400000US26,26,Michigan,9883640,9884129,9876731,9876199,9886610,9899219,9914675,9918170,9933445,9962311
23,0400000US27,27,Minnesota,5303925,5303924,5310711,5345967,5377695,5416074,5452649,5483238,5525050,5576606
24,0400000US28,28,Mississippi,2967297,2968103,2970437,2977452,2982963,2987721,2988578,2985297,2985415,2984100
25,0400000US29,29,Missouri,5988927,5988925,5995681,6010280,6023267,6041142,6058014,6072640,6091176,6113532
26,0400000US30,30,Montana,989415,989414,990507,996866,1003522,1011921,1019931,1028317,1038656,1050493
27,0400000US31,31,Nebraska,1826341,1826327,1829956,1841641,1854862,1867414,1880920,1893564,1907603,1920076
28,0400000US32,32,Nevada,2700551,2700691,2702797,2718170,2752410,2786547,2831730,2883057,2939254,2998039
29,0400000US33,33,New Hampshire,1316470,1316460,1316700,1318345,1320923,1322622,1328684,1330134,1335015,1342795
30,0400000US34,34,New Jersey,8791894,8791953,8803708,8844694,8882095,8913735,8943010,8960001,8978416,9005644
31,0400000US35,35,New Mexico,2059179,2059207,2064607,2077744,2083590,2085161,2083207,2082264,2085432,2088070
32,0400000US36,36,New York,19378102,19378110,19405185,19526372,19625409,19712514,19773580,19819347,19836286,19849399
33,0400000US37,37,North Carolina,9535483,9535721,9574247,9662940,9755299,9849812,9941160,10041769,10156689,10273419
34,0400000US38,38,North Dakota,672591,672585,674518,684830,701380,722908,738658,754859,755548,755393
35,0400000US39,39,Ohio,11536504,11536730,11539282,11543332,11546969,11567845,11593741,11606027,11622554,11658609
36,0400000US40,40,Oklahoma,3751351,3751598,3759529,3785232,3815298,3849840,3875008,3904353,3921207,3930864
37,0400000US41,41,Oregon,3831074,3831072,3837073,3865845,3893920,3919664,3960673,4016537,4085989,4142776
38,0400000US42,42,Pennsylvania,12702379,12702857,12711063,12742811,12768034,12778450,12790341,12791124,12787085,12805537
39,0400000US44,44,Rhode Island,1052567,1052945,1053169,1052154,1052761,1052784,1054782,1055916,1057566,1059639
40,0400000US45,45,South Carolina,4625364,4625381,4635834,4672744,4719009,4765862,4824758,4892423,4959822,5024369
41,0400000US46,46,South Dakota,814180,814197,816227,823338,832576,842513,849455,854036,861542,869666
42,0400000US47,47,Tennessee,6346105,6346295,6355882,6396281,6450632,6490795,6540007,6590726,6649404,6715984
43,0400000US48,48,Texas,25145561,25146100,25241648,25644424,26078327,26479279,26954436,27454880,27904862,28304596
44,0400000US49,49,Utah,2763885,2763889,2775260,2815430,2854222,2899961,2938671,2984917,3044321,3101833
45,0400000US50,50,Vermont,625741,625741,625842,626210,625606,626044,625665,624455,623354,623657
46,0400000US51,51,Virginia,8001024,8001043,8025206,8107548,8188656,8261689,8316902,8366767,8414380,8470020
47,0400000US53,53,Washington,6724540,6724545,6741386,6819155,6890899,6963410,7046931,7152818,7280934,7405743
48,0400000US54,54,West Virginia,1852994,1853006,1854315,1854891,1855360,1852333,1847624,1839767,1828637,1815857
49,0400000US55,55,Wisconsin,5686986,5687288,5690403,5705812,5721075,5736673,5751272,5759744,5772917,5795483
50,0400000US56,56,Wyoming,563626,563767,564376,567602,576608,582341,583334,586102,584910,579315
51,0400000US72,72,Puerto Rico,3725789,3726157,3721525,3678732,3634488,3593077,3534874,3473177,3406520,3337177

In [17]:
bigCensus.head(20)

,Player Name,Player Jersey Number,Player Position,Player Age,Player Weight (lbs.),Years Played,"Player Birthplace (city, town, etc.)",Player Birth State,Player Birthplace (Combo),Player College,...,Full GEOID,Latitude (player birthplace),Longitude (player birthplace),Number from City,Number of Records,American FactFinder Link for more Census data points,Quickfacts Link,State Data Link,Source (Population States 2017),"Birthplace, Population Data Source"
0,Devin McCourty,#32,S/FS,30.0,195.0,8,Nanuet,New York,"Nanuet, New York",Rutgers,...,0400000US36,41.088707,-74.013473,1.0,1.0,https://factfinder.census.gov/bkmk/cf/1.0/en/p...,https://www.census.gov/quickfacts/fact/table/N...,https://factfinder.census.gov/bkmk/cf/1.0/en/s...,"U.S. Census Bureau, 2017 Annual Estimates of t...","U.S. Census Bureau, 2012-2016 American Communi..."
1,Danny Amendola,#80,PR/WR/KR,32.0,190.0,9,The Woodlands,Texas,"The Woodlands, Texas",Texas Tech,...,0400000US48,30.173419,-95.504686,1.0,1.0,https://factfinder.census.gov/bkmk/cf/1.0/en/p...,https://www.census.gov/quickfacts/fact/table/T...,https://factfinder.census.gov/bkmk/cf/1.0/en/s...,"U.S. Census Bureau, 2017 Annual Estimates of t...","U.S. Census Bureau, 2012-2016 American Communi..."
2,Johnson Bademosi,#29,CB/SPTM/RCB,27.0,206.0,6,Silver Spring,Maryland,"Silver Spring, Maryland",Stanford,...,0400000US24,38.990666,-77.026088,1.0,1.0,https://factfinder.census.gov/bkmk/cf/1.0/en/p...,https://www.census.gov/quickfacts/fact/table/S...,https://factfinder.census.gov/bkmk/cf/1.0/en/s...,"U.S. Census Bureau, 2017 Annual Estimates of t...","U.S. Census Bureau, 2012-2016 American Communi..."
3,Chris Hogan,#15,WR,29.0,210.0,5,Wyckoff,New Jersey,"Wyckoff, New Jersey",Monmouth,...,0400000US34,41.009542,-74.172922,1.0,1.0,https://factfinder.census.gov/bkmk/cf/1.0/en/p...,https://www.census.gov/quickfacts/fact/table/W...,https://factfinder.census.gov/bkmk/cf/1.0/en/s...,"U.S. Census Bureau, 2017 Annual Estimates of t...","U.S. Census Bureau, 2012-2016 American Communi..."
4,James Develin,#46,RB/FB,29.0,255.0,5,Gilbertsville,Pennsylvania,"Gilbertsville, Pennsylvania",Brown,...,0400000US42,40.320097,-75.610184,1.0,1.0,https://factfinder.census.gov/bkmk/cf/1.0/en/p...,https://www.census.gov/quickfacts/fact/table/G...,https://factfinder.census.gov/bkmk/cf/1.0/en/s...,"U.S. Census Bureau, 2017 Annual Estimates of t...","U.S. Census Bureau, 2012-2016 American Communi..."
5,Cameron Fleming,#71,T/ROT,25.0,320.0,4,Fort Hood,Texas,"Fort Hood, Texas",Stanford,...,0400000US48,31.201439,-97.771758,1.0,1.0,https://factfinder.census.gov/bkmk/cf/1.0/en/p...,https://www.census.gov/quickfacts/fact/table/F...,https://factfinder.census.gov/bkmk/cf/1.0/en/s...,"U.S. Census Bureau, 2017 Annual Estimates of t...","U.S. Census Bureau, 2012-2016 American Communi..."
6,Patrick Chung,#23,S/SS,30.0,215.0,9,Kingston,Jamaica,"Kingston, Jamaica",Oregon,...,0400000US73,17.971215,-76.792813,1.0,1.0,https://www.census.gov/popclock/world/jm?utm_c...,https://www.census.gov/popclock/world/jm,https://www.census.gov/popclock/world/jm?utm_c...,"U.S. Census Bureau, International Data Base (d...","U.S. Census Bureau, International Data Base (d..."
7,Jonathan Jones,#31,CB/LCB,24.0,190.0,2,Carrollton,Georgia,"Carrollton, Georgia",Auburn,...,0400000US13,33.580110,-85.076611,1.0,1.0,https://factfinder.census.gov/bkmk/cf/1.0/en/p...,https://www.census.gov/quickfacts/fact/table/C...,https://factfinder.census.gov/bkmk/cf/1.0/en/s...,"U.S. Census Bureau, 2017 Annual Estimates of t...","U.S. Census Bureau, 2016 Annual Estimates of t..."
8,Brandin Cooks,#14,WR,24.0,189.0,4,Stockton,California,"Stockton, California",Oregon State,...,0400000US06,37.957702,-121.290780,1.0,1.0,https://factfinder.census.gov/bkmk/cf/1.0/en/p...,https://www.census.gov/quickfacts/fact/table/S...,https://factfinder.census.gov/bkmk/cf/1.0/en/s...,"U.S. Census Bureau, 2017 Annual Estimates of t...","U.S. Census Bureau, 2016 Annual Estimates of t..."
9,Phillip Dorsett,#13,WR/PR,25.0,185.0,3,Fort Lauderdale,Florida,"Fort Lauderdale, Florida",Miami (FL),...,0400000US12,26.122308,-80.143379,2.0,1.0,https://factfinder.census.gov/bkmk/cf/1.0/en/p...,https://www.census.gov/quickfacts/fact/table/F...,https://factfinder.census.gov/bkmk/cf/1.0/en/s...,"U.S. Census Bureau, 2017 Annual Estimates of t...","U.S. Census Bureau, 2016 Annual Estimates of t..."
10,James White,#28,RB,25.0,205.0,4,Fort Lauderdale,Florida,"Fort Lauderdale, Florida",Wisconsin,...,0400000US12,26.122308,-80.143379,2.0,1.0,https://factfinder.census.gov/bkmk/cf/1.0/en/p...,https://www.census.gov/quickfacts/fact/table/F...,https://factfinder.census.gov/bkmk/cf/1.0/en/s...,"U.S. Census Bureau, 2017 Annual Estimates of t...","U.S. Census Bureau, 2016 Annual Estimates of t..."
11,Rex Burkhead,#34,RB,27.0,210.0,5,Plano,Texas,"Plano, Texas",Nebraska,...,0400000US48,33.013676,-96.692510,1.0,1.0,https://factfinder.census.gov/bkmk/cf/1.0/en/p...,https://www.census.gov/quickfacts/fact/table/P...,https://factfinder.census.gov/bkmk/cf/1.0/en/s...,"U.S. Census Bureau, 2017 Annual Estimates of t...","U.S. Census Bureau, 2016 Annual Estimates of t..."
12,Julian Edelman,#11,WR,31.0,200.0,9,Redwood City,California,"Redwood City, California",Kent State,...,0400000US06,37.485215,-122.236355,1.0,1.0,https://factfinder.census.gov/bkmk/cf/1.0/en/p...,https://www.census.gov/quickfacts/fact/table/R...,https://factfinder.census.gov/bkmk/cf/1.0/en/s...,"U.S. Census Bureau, 2017 Annual Estimates of t...","U.S. Census Bureau, 2016 Annual Estimates of t..."
13,Jordan Richards,#37,S/SS,24.0,210.0,3,Sacramento,California,"Sacramento, California",Stanford,...,0400000US06,38.581572,-121.494400,1.0,1.0,https://factfinder.census.gov/bkmk/cf/1.0/en/p...,https://www.census.gov/quickfacts/fact/table/S...,https://factfinder.census.gov/bkmk/cf/1.0/en/s...,"U.S. Census Bureau, 2017 Annual Estimates of t...","U.S. Census Bureau, 2016 Annual Estimates of t..."
14,Malcolm Butler,#21,CB/LCB,27.0,190.0,4,Vicksburg,Mississippi,"Vicksburg, Mississippi",West Alabama,...,0400000US28,32.352842,-90.877734,1.0,1.0,https://factfinder.census.gov/bkmk/cf/1.0/en/p...,https://www.census.gov/quickfacts/fact/table/V...,https://factfinder.census.gov/bkmk/cf/1.0/en/s...,"U.S. Census Bureau, 2017 Annual Estimates of t...","U.S. Census Bureau, 2016 Annual Estimates of t..."
15,Mike Gillislee,#35,RB,27.0,219.0,5,DeLand,Florida,"DeLand, Florida",Florida,...,0400000US12,29.019515,-81.294142,1.0,1.0,https://factfinder.census.gov/bkmk/cf/1.0/en/p...,https://www.census.gov/quickfacts/fact/table/D...,https://factfinder.census.gov/bkmk/cf/1.0/en/s...,"U.S. Census Bureau, 2017 Annual Estimates of t...","U.S. Census Bureau, 2016 Annual Estimates of t..."
16,Dion Lewis,#33,RB/KR,27.0,195.0,6,Albany,New York,"Albany, New York",Pittsburgh,...,0400000US36,42.651167,-73.754968,1.0,1.0,https://factfinder.census.gov/bkmk/cf/1.0/en/p...,https://www.census.gov/quickfacts/fact/table/A...,https://factfinder.census.gov/bkmk/cf/1.0/en/s...,"U.S. Census Bureau, 2017 Annual Estimates of t...","U.S. Census Bureau, 2016 Annual Estimates of t..."
17,Bernard Reedy,#17,WR,26.0,175.0,1,St. Petersburg,Florida,"St. Petersburg, Florida",Toledo,...,0400000US12,27.770861,-82.679266,1.0,1.0,https://factfinder.census.gov/bkmk/cf/1.0/en/p...,https://www.census.gov/quickfacts/fact/table/S...,https://factfinder.census.gov/bkmk/cf/1.0/en/s...,"U.S. Census Bureau, 2017 Annual Estimates of t...","U.S. Census Bureau, 2016 Annual Estimates of t..."
18,Elandon Roberts,#52,LB/RLB,23.0,235.0,2,Port Arthur,Texas,"Port Arthur, Texas",Houston,...,0400000US48,29.898826,-93.928781,1.0,1.0,https://factfinder.census.gov/bkmk/cf/1.0/en/p...,https://www.census.gov/quickfacts/fact/table/P...,https://factfinder.census.gov/bkmk/cf/1.0/en/s...,"U.S. Census Bureau, 2017 Annual Estimates of t...","U.S. Census Bureau, 2016 Annual Estimates of t..."
19,Matthew Slater,#18,KR/WR,32.0,205.0,10,Orange,California,"Orange, California",UCLA,...,0400000US06,33.750038,-117.870493,2.0,1.0,https://factfinder.census.gov/bkmk/cf/1.0/en/p...,https://www.census.gov/quickfacts/fact/table/O...,https://factfinder.census.gov/bkmk/cf/1.0/en/s...,"U.S. Census Bureau, 2017 Annual Estimates of t...","U.S. Census Bureau, 2016 Annual Estimates of t..."

##Checking Null Values

In [10]:
data2016.isnull().sum()

Geographic ID                                0
GEOID 2                                      0
Geography, full name (City, State)           0
April 1, 2010 - Census                       0
April 1, 2010 - Estimates Base               0
Population Estimate (as of July 1) - 2010    0
Population Estimate (as of July 1) - 2011    0
Population Estimate (as of July 1) - 2012    0
Population Estimate (as of July 1) - 2013    0
Population Estimate (as of July 1) - 2014    0
Population Estimate (as of July 1) - 2015    0
Population Estimate (as of July 1) - 2016    0
dtype: int64

In [11]:
data2017.isnull().sum()

GEOID                                        0
GEOID2                                       0
Geography Name                               0
April 1, 2010 - Census                       0
April 1, 2010 - Estimates Base               0
Population Estimate (as of July 1) - 2010    0
Population Estimate (as of July 1) - 2011    0
Population Estimate (as of July 1) - 2012    0
Population Estimate (as of July 1) - 2013    0
Population Estimate (as of July 1) - 2014    0
Population Estimate (as of July 1) - 2015    0
Population Estimate (as of July 1) - 2016    0
Population Estimate (as of July 1) - 2017    0
dtype: int64

In [13]:
bigCensus.isnull().sum()

Player Name                                                 2
Player Jersey Number                                        3
Player Position                                             3
Player Age                                                  3
Player Weight (lbs.)                                        3
Years Played                                                3
Player Birthplace (city, town, etc.)                        3
Player Birth State                                          3
Player Birthplace (Combo)                                   3
Player College                                              3
Player Team                                                 3
Conference                                                  3
2016 Population Estimates (except where otherwise noted)    3
State GEO ID                                                3
Full GEOID                                                  3
Latitude (player birthplace)                                3
Longitude (player birthplace)                               3
Number from City                                            3
Number of Records                                           3
American FactFinder Link for more Census data points        3
Quickfacts Link                                             3
State Data Link                                             3
Source (Population States 2017)                             3
Birthplace, Population Data Source                          3
dtype: int64

In [14]:
bigCensus = bigCensus.drop([bigCensus.index[118], bigCensus.index[119], bigCensus.index[120]])

In [15]:
bigCensus.isnull().sum()

Player Name                                                 0
Player Jersey Number                                        0
Player Position                                             0
Player Age                                                  0
Player Weight (lbs.)                                        0
Years Played                                                0
Player Birthplace (city, town, etc.)                        0
Player Birth State                                          0
Player Birthplace (Combo)                                   0
Player College                                              0
Player Team                                                 0
Conference                                                  0
2016 Population Estimates (except where otherwise noted)    0
State GEO ID                                                0
Full GEOID                                                  0
Latitude (player birthplace)                                0
Longitude (player birthplace)                               0
Number from City                                            0
Number of Records                                           0
American FactFinder Link for more Census data points        0
Quickfacts Link                                             0
State Data Link                                             0
Source (Population States 2017)                             0
Birthplace, Population Data Source                          0
dtype: int64

#Saving the processed file

In [19]:
bigCensus.to_csv('Big_Game.csv', index=None, header=True)